.header {
  background: #3d0b37;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 15px 0;
}

.header__title {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #c0d684;
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
}
