.header {
    background: #264653;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-bottom: 5px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #E9C46A;
    font-size: 35px;
    margin: 0 auto;    
    text-align: center;   
}
