.footer {
    background: #264653;    
    width: 100%; 
    height: 8vh;
    position: fixed;
    bottom: 0px;
}

.footer__title {
    font-family: 'Luckiest Guy', cursive;
    color: #E9C46A;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
