.new-dispute-page {
  padding: 30px 15px;
}

.new-dispute-page__input {
  display: block;
  font-size: 16px;
  width: 80%;
  margin-bottom: 30px;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #3d0b37;
  outline: none;
}

.new-dispute-page__label {
  margin: 0 0 3px;
  font-size: 12px;
}

.new-dispute-page__save {
  display: block;
  background-color: #cbeaa6;
  text-decoration: none;
  color: #3d0b37;
  border: 2px solid #3d0b37;
  padding: 10px 15px;
  font-size: 12px;
  width: 180px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.new-dispute-page__save:disabled {
  opacity: 0.6;
}
